$red: #e7312b;
$yellow: #fde74c;
$white: #fff;

.Header {
  margin: 5% 0;
  width: 100%;
  min-height: 400px;
  max-height: max-content;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  div {
    font-size: 30px;
    width: 50%;
    button {
      background-color: $yellow;
      border-radius: 30px;
      border: 0;
      border-top: 0;
      border-bottom: 0;
      padding: 3%;
      transition: 0.1s;
      cursor: pointer;
    }
    button:hover {
      color: $red;
      border: 5px solid $white;
    }
  }
  img {
    width: 350px;
    height: 350px;
  }
}

@media screen and(max-width: 660px) {
  .Header {
    flex-direction: column;
    div {
      font-size: 20px;
    }
    img {
      width: 250px;
      height: 250px;
    }
  }
}
