* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.checkoutCart {
  background-color: #fff;
  width: 20%;
  min-height: 350px;
  right: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  display: none;
}

.checkoutCart h1,
.checkoutCart p {
  background-color: #fde74c;
  text-align: center;
}

.checkoutCart h4 {
  padding: 10px;
}

.checkoutCart h4 button {
  background-color: #e7312b;
  border: 0;
  padding: 2% 10%;
  border-radius: 5px;
  cursor: pointer;
}

.checkoutCart button {
  background-color: #fde74c;
  border: 0;
  padding: 2% 10%;
  border-radius: 5px;
  margin: 0 20%;
  cursor: pointer;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-color: #e7312b;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.nav li {
  text-decoration: none;
  list-style: none;
  color: #fff;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
}

.nav a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.nav li:hover {
  color: #1b1b1b;
}

.nav img {
  width: 200px;
  height: 200px;
  margin: 0 7%;
}

.nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .right .cart {
  background-color: #fde74c;
  border-bottom: 0;
  border-top: 0;
  border-radius: 50px;
  color: #1b1b1b;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.nav .right .cart:hover {
  border: 3px solid #fff;
  color: #e7312b;
}

.mobileNav,
.itemsMobile {
  display: none;
}

@media screen and (max-width: 665px) {
  .checkoutCart {
    background-color: #fff;
    width: 100%;
    min-height: 350px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
  }
  .checkoutCart h1,
  .checkoutCart p {
    background-color: #fde74c;
    text-align: center;
  }
  .checkoutCart h4 {
    padding: 10px;
  }
  .checkoutCart .checkoutBtn {
    margin: 0 30%;
  }
  .nav {
    display: none;
  }
  .mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #e7312b;
  }
  .mobileNav li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    margin: 0 10%;
  }
  .mobileNav li:hover {
    color: #1b1b1b;
  }
  .mobileNav .mobilelogo {
    width: 150px;
    height: 150px;
  }
  .mobileNav .menuBtn {
    background-color: #fde74c;
    border-radius: 10%;
    border-bottom: 0;
    border-top: 0;
    padding: 10px;
  }
  .itemsMobile {
    list-style: none;
    text-decoration: none;
    background-color: #e7312b;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .itemsMobile li {
    margin: 10px auto;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
  }
  .itemsMobile a {
    text-decoration: none;
    list-style: none;
    color: #fff;
  }
  .itemsMobile a:hover,
  .itemsMobile li:hover {
    color: #1b1b1b;
  }
  .itemsMobile .cart {
    background-color: #fde74c;
    border-bottom: 0;
    border-top: 0;
    border-radius: 50px;
    color: #1b1b1b;
  }
  .itemsMobile .cart:hover {
    border: 3px solid #fff;
    color: #e7312b;
  }
}
/*# sourceMappingURL=Nav.css.map */